$color-base-red: #EE2C42;
$color-base-blue: #4A90E2;
$color-base-white: #FFFFFF;
$color-base-black: #000000;
$color-base-grey-light-1: #F9F9F9;
$color-base-grey-light-2: #EAEAEA;
$color-base-grey-dark-1: #4A4A4A;

$color-text-dark: $color-base-grey-dark-1;
