@font-face {
  font-family: 'DINNext';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/bab10f62-c072-46a3-9e2a-405c1c267b67.woff2') format('woff2');
}

@font-face {
  font-family: 'DINNext';
  font-weight: 400;
  font-style: italic;
  src: url('fonts/55166db5-97f6-4cf8-99e3-c9159787facf.woff2') format('woff2');
}

@font-face {
  font-family: 'DINNext';
  font-weight: 500;
  font-style: normal;
  src: url('fonts/b5a6a157-f91d-496e-bf1b-f4cd9f7a7129.woff2') format('woff2');
}

@font-face {
  font-family: 'DINNext';
  font-weight: 500;
  font-style: italic;
  src: url('fonts/0c65f65f-30f4-4b87-8217-04c6f97a5e03.woff2') format('woff2');
}

@font-face {
  font-family: 'DINNext';
  font-weight: 600;
  font-style: normal;
  src: url('fonts/07b57211-97bd-4a92-8131-275fc6a26141.woff2') format('woff2');
}

@font-face {
  font-family: 'DINNext';
  font-weight: 600;
  font-style: italic;
  src: url('fonts/1e5fe341-dd76-414d-8dda-6afeec0cd5d9.woff2') format('woff2');
}
